{% extends 'all-files/base.html' %}
{% load bootstrap4 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>MobiCash</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
.hr{ 
  display: block;
  margin-left:400px;
  margin-right: 200px;
  border-style: inset;
  border-width: 1px;
} 
footer{
  position: fixed;
  background-color:transparent;
  left: 0;
  bottom: 0;
  width: 100%;
  color:rgb(8, 8, 8);
  text-align: center;
  font-size: 10px;
}
.page {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
</style>
<script>
async function getDatas() {
  try {
      const result = await fetch('https://cors-anywhere.herokuapp.com/https://dev.mobivat.com:8080/vsdc_module/mobivat/api/product/productId?upc=224444445');
      const data = await result.json();
      console.log(data.upc);
      return data;
  } catch(error) {
      alert(error);
  }
}
</script>
<body>
  <div class="page">
    <img src="/static/images/cover1.png" style="margin-left: 27px;">
  </div>
<div class="card" style="box-shadow: 0px 0px 5px 0px #ff9a02;width: 80%;margin-left: 230px;margin-top: 20px;"><br>
  <span><h3 class="text-center" style="font-family: 'Source Sans Pro', sans-serif;color: #ff9a02">Product List</h3></span>
  <div class="card-body">
      <table class="table">
          <thead class="thead-default">
            <tr>
              <th scope="col" style="color: #ff9a02;">SKU</th>
              <th scope="col" style="color: #ff9a02;">UPCode</th>
              <th scope="col" style="color: #ff9a02;">P Name</th>
              <th scope="col" style="color: #ff9a02;">Description</th>
              <th scope="col" style="color: #ff9a02;">Tax Code</th>
              <th scope="col" style="color: #ff9a02;">Tax Rate</th>
              <th scope="col" style="color: #ff9a02;">Unit Price</th>
              <th scope="col" style="color: #ff9a02;">Quantity</th>
              <th scope="col" style="color: #ff9a02;">Tax Percentage</th>
            </tr>
          </thead>
          <tbody>
            <!-- {% for data in data %}
            <tr>
              <th scope="row">{{data.sku}}</th>
              <td>{{data.upc}}</td>
              <td>{{data.pname}}</td>
              <td>{{data.description}}</td>
              <td>{{data.taxcode}}</td>
              <td>{{data.tax_rate}}</td>
              <td>{{data.unitp}}</td>
              <td>{{data.quantity}}</td>
              <td>{{data.tax_percent}}</td>
            </tr>
            {% endfor %} -->
          </tbody>
        </table>  
  </div>
</div>
    <footer>
      <hr class="hr">
      <p style="margin-left:300px;">@2019 by ____Alexie.Manirakora</p>
    </footer>
  </div>   
</body>
</html>
{% endblock %}

 

 